/
  Overview
  \========
%header.jumbotron#overview
  .row
    .span11
      %p
        %img{ class: 'logo', src: '/images/startup-summit-2012-logo.png', width: '455', height: '83' }
      %p.lead 
        A free, one-day event featuring talks by local startup founders. 
        %br/
        Our goal is to inspire tomorrow's founders of high-growth companies in Birmingham.
        %strong
          Come be inspired and start something.
      .row
        .span6
          %h2
            Tuesday, April 24th, 2012
          %h3
            %a{ href: 'http://bhmstartupdrinks.com', title: 'Birmingham Startup Drinks', target: '_blank' }
              Startup Drinks 
            to follow.
        .span5
          %p
            %a{ href: '/register', title: 'Register for Startup Summit', class: 'btn huge primary' }
              %strong
                Register Now
              %small
                Space is limited
     
/
  Schedule
  \========    
%section#schedule
  .page-header
    %h1 Schedule
  .row
    .span9
      %table.bordered-table.zebra-striped
        %tbody
          %tr
            %td.time{ style: 'border-top: 0;' } 9:00
            %td{ style: 'border-top: 0;' } Opening &mdash; David Gray
          %tr
            %td.time 9:30
            %td Jason McCay &amp; Ben Wyrosdick
          %tr
            %td.time 10:00
            %td Josh Dennis
          %tr
            %td.time 10:30
            %td Coffee Break
          %tr
            %td.time 11:00
            %td Mario Moore
          %tr
            %td.time 11:30
            %td TBD
          %tr
            %td.time 12:00
            %td Lunch
          %tr
            %td.time 1:30
            %td TBD
          %tr
            %td.time 2:00
            %td TBD
          %tr
            %td.time 2:30
            %td TBD
          %tr
            %td.time 3:00
            %td Coffee Break
          %tr
            %td.time 3:30
            %td TBD
          %tr
            %td.time 4:00
            %td TBD
          %tr
            %td.time 4:30
            %td TBD
          %tr
            %td.time 5:00
            %td Close Up Shop
          %tr
            %td.time 5:30
            %td Startup Drinks
          
/
  Speakers
  \========    
%section#speakers
  .page-header
    %h1 Speakers
  
  %ul.media-grid
    %li
      %a{ title: 'Ben Wyrosdick', data: { content: "Ben is a co-founder of MongoHQ, a high-growth Database-as-a-Service company, and a Y Combinator alumnus. He is responsible for the vision and implementation of the technology that makes the MongoHQ product special. He has a background in computer engineering and has worked with numerous development languages and database technologies." }, rel: 'popover', href: '#' }
        %img{ src: '/images/speakers/ben-wyrosdick.png', class: 'thumbnail', width: '210', height: '210'  }
        %span
          Ben Wyrosdick
          %small
            Co-founder, MongoHQ
    %li
      %a{ title: 'Jason McCay', data: { content: "Jason is a co-founder of MongoHQ, a high-growth cloud database company, and a Y Combinator alumnus. He focuses his time on the user side of the product by handling day-to-day operations and support. When you interact with MongoHQ, chances are that you are interacting with him." }, rel: 'popover', href: '#' }
        %img{ src: '/images/speakers/jason-mccay.png', class: 'thumbnail', width: '210', height: '210'  }
        %span
          Jason McCay
          %small
            Co-founder, MongoHQ
    %li
      %a{ :title => "#{lorem.name}", 'data-content' => "#{lorem.paragraph}", :rel => 'popover', :href => '#' }
        %img{ :class => 'thumbnail', :src => 'http://placehold.it/210x210' }
        %span
          Founder #3
          %small
            Company
    %li
      %a{ :title => "#{lorem.name}", 'data-content' => "#{lorem.paragraph}", :rel => 'popover', :href => '#' }
        %img{ :class => 'thumbnail', :src => 'http://placehold.it/210x210' }
        %span
          Founder #4
          %small
            Company
    %li
      %a{ :title => "#{lorem.name}", 'data-content' => "#{lorem.paragraph}", :rel => 'popover', :href => '#' }
        %img{ :class => 'thumbnail', :src => 'http://placehold.it/210x210' }
        %span
          Founder #5
          %small
            Company
    %li
      %a{ :title => "#{lorem.name}", 'data-content' => "#{lorem.paragraph}", :rel => 'popover', :href => '#' }
        %img{ :class => 'thumbnail', :src => 'http://placehold.it/210x210' }
        %span
          Founder #6
          %small
            Company
    %li
      %a{ :title => "#{lorem.name}", 'data-content' => "#{lorem.paragraph}", :rel => 'popover', :href => '#' }
        %img{ :class => 'thumbnail', :src => 'http://placehold.it/210x210' }
        %span
          Founder #7
          %small
            Company
    %li
      %a{ :title => "#{lorem.name}", 'data-content' => "#{lorem.paragraph}", :rel => 'popover', :href => '#' }
        %img{ :class => 'thumbnail', :src => 'http://placehold.it/210x210' }
        %span
          Founder #8
          %small
            Company
      
  .row
    .offset4
      %ul.media-grid
        %li
          %a{ :title => "#{lorem.name}", 'data-content' => "#{lorem.paragraph}", :rel => 'popover', :href => '#' }
            %img{ :class => 'thumbnail', :src => 'http://placehold.it/210x210' }
            %span
              Founder #9
              %small
                Company
        %li
          %a{ :title => "#{lorem.name}", 'data-content' => "#{lorem.paragraph}", :rel => 'popover', :href => '#' }
            %img{ :class => 'thumbnail', :src => 'http://placehold.it/210x210' }    
            %span
              Founder #10
              %small
                Company
  
