!!! 5
%html{:lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}/
    - if defined?(meta_description)
      %meta{ name: 'description', content: "#{meta_description}"}/
  
    %title= "Birmingham Startup Summit#{defined?(title) ? ' | ' + title : ''}"
    
    /[if lt IE 9]
      %script{ src: '//html5shim.googlecode.com/svn/trunk/html5.js' }
    
    / El Styles
    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/startupsummit-www.css', media: 'all' }
    
    / El Favicon
    %link{ rel: 'icon shortcut', href: '/images/favicon.ico', type: 'image/x-icon' }

  %body
  
    / 
      Topbar & navigation
      \===================
    .topbar{ 'data-scrollspy' => 'scrollspy' }
      .topbar-inner
        .container
          %a{ :class => 'brand', :href => '#overview' }
            Birmingham Startup Summit
          %ul.nav
            - active_nav_link = nil if !defined?(active_nav_link)
            %li{ :class => "#{active_nav_link == :root ? 'active' : '' }" }
              %a{ :href => "#{active_nav_link != :root ? '/' : '' }#overview" } Overview
            %li
              %a{ :href => "#{active_nav_link != :root ? '/' : '' }#schedule" } Schedule
            %li
              %a{ :href => "#{active_nav_link != :root ? '/' : '' }#speakers" } Speakers
            %li{ :class => "#{active_nav_link == :register ? 'active' : '' }" }
              %a{ :href => '/register' } Register
          %p.pull-right
            %strong
              Coming April 24th, 2012
    = yield
      
    %footer
      .container
        .row
          .span13
            %p
              / AddThis Button BEGIN
              .addthis_toolbox.addthis_default_style
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                <a class="addthis_counter addthis_pill_style"></a>
              
              <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ecbcad66f72d615"></script>
              / AddThis Button END
          .span3
            %h6 
              Made by
              %a{ href: 'http://www.rarestep.com', title: 'RareStep Website', class: 'external' }<
                RareStep
    
    / El Javascript
    = render_partial 'javascript_libs'
    %script{:src => '/js/application.js'}